<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link href="file:data/css/main.css" rel="stylesheet">
	<link href="file:data/css/fonts.css" rel="stylesheet">
	<link href="file:modules/ryzom_config_ini/main.css" rel="stylesheet">
	{{{css}}}
</head>
<body id="body">
	<div id="content">
		<div id="popup"><div id="popup-content">{{{popup}}}</div></div>
		<div id="main">{{{content}}}</div>
	</div>
</body>
</html>

